<ul class="nav flex-column bg-light align-content-center" style="min-width: 296px;">
  <li class="nav-item my-5 ms-5">
    <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER" class="ms-2">
  </li>
  <li class="nav-item mb-4 ms-5">
    <a class="nav-link link-secondary" href="#"><span class="material-icons">assessment</span>
      <span class="ms-3 fw-bold">Dashboard</span></a>
  </li>
  <li class="nav-item mb-4 ms-5">
    <a class="nav-link link-secondary" href="#"><span class="material-icons">question_answer</span> <span
        class="ms-3 fw-bold">Question</span></a>
  </li>
  <li class="nav-item mb-4 ms-5">
    <a class="nav-link link-secondary" href="#"><span class="material-icons">assignment</span><span
        class="ms-3 fw-bold">Assignment</span></a>
  </li>
  <li class="nav-item mb-4 ms-5">
    <a class="nav-link link-secondary" href="#"><span class="material-icons">video_library</span><span
        class="ms-3 fw-bold">Course</span></a>
  </li>
  <li class="nav-item mb-4 ms-5">
    <a class="nav-link link-success active" href="#" aria-current="page" href="#"><span
        class="material-icons">supervisor_account</span><span class="ms-3 fw-bold">Admin</span></a>
  </li>
  <li class="nav-item mb-4 ms-5">
    <a class="nav-link link-secondary" href="#"><span class="material-icons">settings</span><span
        class="ms-3 fw-bold">Setting</span></a>
  </li>
  <li class="nav-item ms-5 d-flex" style="margin-top : 338px; ">
    <img class="user-img me-3" src="../assets/images/andychen.jpeg" alt="andychen">
    <div class="user-info">
      <p class="user-name mb-1">Andy Chen</p>
      <p class="user-email mb-0">andy0401@mail.com</p>
    </div>
  </li>
</ul>